<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meknick - Keep your journey on</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/src/app.js"></script>

</head>

<body>

    <!--==========================
      Header Section
    ============================-->
    <header ng-include=" '/templates/header.html' " ng-controller="headerController"></header>


    <!--==========================
      Hero Section
    ============================-->
    <section class="landing">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-12">

                    <div class="appointment-booking">

                        <div class="wrapper">

                            <div class="form-section">

                                <h3>Book appointment</h3>
                                <h6>To continue with Us</h6>

                                <form ng-submit="submitForm()" name="appointmentForm" class="signin-form"
                                    ng-controller="appointmentController">

                                    <div class="form-row">

                                        <div class="col-lg-6 col-md-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.fullName" name="fullName"
                                                    placeholder="Full Name" minlength="3" maxlength="15" required>
                                            </div>

                                            <div ng-messages="appointmentForm.fullName.$error">
                                                <p class="text text-danger" ng-show="appointmentForm.fullName.$touched"
                                                    ng-message="required">Name is required</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    3 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 15 characters
                                                    are allowed</p>
                                            </div>

                                        </div>

                                        <div class="col-lg-6 col-md-12">

                                            <div class="form-input">
                                                <input type="email" ng-model="data.email" name="email" placeholder="Email id"
                                                    minlength="5" maxlength="30" required>
                                            </div>

                                            <div ng-messages="appointmentForm.email.$error">
                                                <p class="text text-danger" ng-message="required"
                                                    ng-show="appointmentForm.email.$touched">Email is required</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    5 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 15 characters
                                                    are allowed</p>
                                                <p class="text text-danger" ng-message="email">Not a valid email!</p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.mobile" name="mobile"
                                                    placeholder="Mobile number" minlength="10" maxlength="10" required>
                                            </div>


                                            <div ng-messages="appointmentForm.mobile.$error">
                                                <p class="text text-danger" ng-show="appointmentForm.mobile.$touched"
                                                    ng-message="required">Phone number is required</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    10 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 10 characters
                                                    are allowed</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-row">

                                        <div class="col-lg-6 col-md-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.pickup" name="pickup"
                                                    placeholder="Pick Up Location" minlength="3" maxlength="200"
                                                    required>
                                            </div>

                                            <div ng-messages="appointmentForm.pickup.$error">
                                                <p class="text text-danger" ng-show="appointmentForm.pickup.$touched"
                                                    ng-message="required">Please enter pickup location</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    3 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 200
                                                    characters are allowed</p>
                                            </div>

                                        </div>

                                        <div class="col-lg-6 col-md-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.dropoff" name="dropoff"
                                                    placeholder="Drop Off Location" minlength="3" maxlength="200">
                                            </div>

                                            <div ng-messages="appointmentForm.dropoff.$error">
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    3 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 200
                                                    characters are allowed</p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-row">

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-input">
                                                <input type="date" ng-model="data.pickupdate" name="pickupdate" placeholder="Pick Up Date" required />
                                            </div>

                                            <div ng-messages="appointmentForm.pickupdate.$error">
                                                <p class="text text-danger" ng-message="required"
                                                    ng-show="appointmentForm.pickupdate.$touched">Please choose pickup
                                                    date</p>
                                                <p class="text text-danger" ng-message="date">Not a valid date!</p>
                                            </div>

                                        </div>

                                        <div class="col-lg-6 col-md-12">

                                            <div class="form-input">
                                                <input type="time" ng-model="data.time" name="pickupTime"
                                                    placeholder="Pick Up Time" required>
                                            </div>

                                            <div ng-messages="appointmentForm.pickupTime.$error">
                                                <p class="text text-danger" ng-message="required"
                                                    ng-show="appointmentForm.pickupTime.$touched">Please choose pickup
                                                    time</p>
                                                <p class="text text-danger" ng-message="time">Not a valid time format!
                                                </p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.manufacturer" name="manufacturer"
                                                    placeholder="Vehicle Manufacturer" minlength="3" maxlength="20"
                                                    required>
                                            </div>

                                            <div ng-messages="appointmentForm.manufacturer.$error">
                                                <p class="text text-danger" ng-message="required"
                                                    ng-show="appointmentForm.manufacturer.$touched">Manufacturer name is
                                                    required</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    3 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 20 characters
                                                    are allowed</p>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-md-12">

                                            <div class="form-input">
                                                <input type="text" ng-model="data.vehicleModel" name="vehicleModel"
                                                    placeholder="Vehicle Model" minlength="3" maxlength="50" required>
                                            </div>

                                            <div ng-messages="appointmentForm.vehicleModel.$error">
                                                <p class="text text-danger" ng-message="required"
                                                    ng-show="appointmentForm.vehicleModel.$touched">Vehicle model name
                                                    is required</p>
                                                <p class="text text-danger" ng-message="minlength">Please enter at least
                                                    3 characters</p>
                                                <p class="text text-danger" ng-message="maxlength">Maximum 50 characters
                                                    are allowed</p>
                                            </div>

                                        </div>
                                    </div>

                                    <button type="submit" ng-click="Submit" class="btn btn-primary submit-button mt-4">{{buttonValue}}</button>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 col-md-12">
                    <img src="/assets/img/towing.svg" class="towing-image" alt="Intro image">
                </div>

            </div>

        </div>

    </section>



    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Services</h3>
                <p>Choose from a wide assortment of car services from periodic car servicing, car care services, wheel
                    care services, cashless insurance claims and much more!</p>
            </header>

            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;">
                            <ion-icon name="calendar-outline" size="large" style="color: #ff689b;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">Periodic services</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;">
                            <ion-icon name="snow-outline" size="large" style="color: #e98e06;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">AC Services</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;">
                            <ion-icon name="aperture-outline" size="large" style="color: #3fcdc7;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">Tyres and wheel care</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;">
                            <ion-icon name="water-outline" size="large" style="color:#41cf2e;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">Cleaning and Detailing</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;">
                            <ion-icon name="color-palette-outline" size="large" style="color: #2282ff;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">Denting Painting</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="icon" style="background: #ecebff;">
                            <ion-icon name="battery-charging-outline" size="large" style="color: #8660fe;"></ion-icon>
                        </div>
                        <h4 class="title"><a href="">Batteries</a></h4>
                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nobis est eligendi</p>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <!--==========================
      Newsletter Section
    ============================-->
    <section class="newsletter">
        <div class="container inside">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="subImage-container">
                        <img src="/assets/img/newsletter.svg" class="subscription-image" alt="subscription-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="subscription-form mt-5">
                        <h3 class="text-center mt-2">Subscribe Us</h3>
                        <p class="text-center">Lets keep in touch! Please subscribe to our newsletter and stay updated about latest offers</p>
                        <form ng-submit="subscribe()" name="subscriptionForm" ng-controller="subscriptionController">
                            <div class="form-input">
                                <input type="text" ng-model="subscribeUser.username" name="username" placeholder="Full Name" required minlength="3" maxlength="15">
                            </div>
                            <div class="form-input">
                                <input type="email" ng-model="subscribeUser.email" name="email" placeholder="Email id" required minlength="5" maxlength="50">
                            </div>
                            <button ng-click="Submit" class="btn btn-primary btn-block submit-button">{{subscribeButton}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
      Footer Section
    ============================-->
    <footer ng-include=" '/templates/footer.html' "></footer>

    <script src="/node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
</body>

</html>