@import './header.css';

.landing {
    margin-top: 50px;
    padding-top: 20px;
    height: 100vh;
}

.towing-image {
    max-width: 100%;
    height: auto;
    padding-top: 20%;
}

@media (min-width: 992px) {
    .towing-image {
        max-width: 120%;
    }   
}